
/* underline and hiding the letters in the span element */
.text {
  font-size: 24px;
  text-decoration: underline;
  text-decoration-color: black;
  margin-left: 16px;
}
/* 
.show-text {
} */

.hide-text {
  color: transparent;
}
